// Place all the styles related to the Api::Conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chatbox {
  border-bottom-style: solid;
    border-color: white;
    border-width: 0.5px;
    padding-left: 32px;
    padding: 40px;
}

.chatbox:hover {
  background-color:grey;
  cursor:pointer;
}

.tabs-container {
}

.other-user {
  display: inline;
  font-size: 2em;
  float: left;
  margin: 0;
  padding-top: 13px;
}

.latest-message {
  display: flex;
  justify-content:center;
  color: grey;
}

.created-at {
  display:inline;
  color: green;
  float:right;
  margin:0;
  margin-top: -42px;
}
.chat-container {
  width: 50%;
  height: 400px;
  overflow: scroll;
  margin: 0 auto;
  border-style: solid;
  border-width: 0.5px;
  border-color: white;
  padding: 50px;
}

.chat-bubble {
  display: block;
}

.user-styling {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
  width: 50%;
  float: right;
}

.other-user-styling {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
  width: 50%;
  float: left;
}

.input-message {
  width: 100%;
}
