
.splash-intro {
  font-size: 50px;
}

.splash-image{
  opacity: 0.2;
  width: 100%;
  height: 20%;
  display: inline;
}
.splash-image:hover{
  opacity: 0.7;
}
.splash-container {
  padding-top: 20px;
  padding: 15%;
  position: fixed;
}

.splash-text {
  font-size: 5em;
}

.get-started {
  display: inline;
  padding-right: 5%;
}

.get-started:hover{
  border-style:solid;
  border-color: white;
  border-width:0.5px;
  border-radius: 10px;
}
