.tabs-container {
  margin: 0 auto;
  background-color: black;
}

.tab-labels {
  height: 65px;
}

.tab-name {
  height: 65px;
  margin-left: -40px;
}

.tabs {
  border-top: solid;
  border-width: 0.1px;
  background-color: black;
  min-height:300px;
  padding-left:15px;
  padding-top:4px;

}
.individual-tab:hover {
  border-bottom:solid;
  border-color: white;
  border-width:5px;
  cursor: pointer;
}
.individual-tab::selection {
  border-bottom:solid;
  border-color: white;
  border-width:5px;
}

.individual-tab {
  border-color: white;
  width: 20%;
  margin: 0 auto;
  float: left;
  padding: 0;
  border-width: 0.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  opacity: 0.7;
}

.tab-text {
  padding: 0;
  align-items: center;
  padding-left: 65px;
}
