.tabs-container {
  width: 90%;
  margin: 0 auto;
  height: 600px;
}

.tab-labels {
  height: 65px;
}

.tab-name {
  height: 65px;
  margin-left: -40px;
}

.tabs {
  border: solid;
  border-color:white;
  height: 526px;
  border-width: 0.5px;
  background-color: black;
  opacity: 0.7;
}
.individual-tab:hover {
  background-color: grey;
  cursor: pointer;
}

.individual-tab {
  border: solid;
  border-color: white;
  width: 20%;
  margin: 0 auto;
  float: left;
  padding: 0;
  border-width: 0.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  opacity: 0.7;
}

.tab-text {
  padding: 0;
  align-items: center;
  padding-left: 65px;
}
