// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-button {
  -webkit-appearance: none;
  background:none;
}
.close-modal-button {
  -webkit-appearance: none;
  border:none;
}
.user-profile > ul {
  width: 50%;
  height: 100%;
  opacity: 1.0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0;
}

.user-profile > ul * {
  display: flex;
  justify-content: center;
  width: 45%;
  margin: 0 auto;
}

.user-imgs {
  height: 250px;
  width: 250px;
  border-style:hidden;
  border-radius: 50px;
  object-fit: cover;

}

.user-display {
  display:inline-block;
}

.user-index-item {
  display: inline-block;
  margin: 0 auto;
  padding-right: 25px;
  justify-content: space-between;
}

.user-index-item * {
  align-items: center;
}

.user-index {
  align-items:center;
  padding-top: 60px;
  display: flex;
  margin: 0 auto;
  background-color: black;
  margin-top:-89px;
}
.user-index > * {
  padding-right: 30px;
  margin: 0 auto;
}

.about-me {
  background-color: black;
  opacity: 0.7;
  color: white;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.index-search-bar {
  margin: 0 auto;
  height: 215px;
  color: white;
}

.index-search-container {
  margin: 0 auto;
  padding-top: 40px;
  background-color: black;
  opacity: 0.9;
  height: 30px;
  padding-bottom: 40px;
}

.index-search-bar * {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 14pt;
  padding-left: 50px;
}

.index-search-container * {
  padding-bottom: 20px;
}


select{
  background-color: black;
  color: white;
  border-style:solid white;
  border-radius: 10px;
  opacity: 0.8;
  -webkit-appearance:none;
  height: 50px;
}
select:hover{
  border-color: lightseagreen;
}
a:hover{
  text-decoration-color: lightseagreen;
}

.browse-users {
  justify-content: space-between;
  flex-direction: column;
  overflow:scroll;
}

.profile-tabs-buttons {
  width: 90%;
  margin: 0 auto;
}
.image-button{
    -webkit-appearance: none;
    background:none;
    border:none;
    display:inline;
}

.edit-text {
  display: block;
}
.tab-buttons {
  -webkit-appearance: none;
  background:none;
  color: white;
  border: none;
  font-size: 22px;
  background-color: black;
  opacity: 0.7;
  margin-right:2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.about-me-h3 {
  margin: 0;
  display: inline;
}

ul {
  margin: 0;
}

.question > p {
  margin-top: 0;
  color: white;
}

label {
  color: white;
}


.question-form {
  width: 50%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 18px;
}
.answer-questions-header {
  width: 50%;
  margin: 0 auto;
  padding: 19px;
}
.answer-questions-header > p {
  width: 21%;
  padding: none;
  margin: 0 auto;
}
.edit-button-detail {
  background: none;
  border: none;
  display:flex;
  font-size:100%;
  padding-left:0;
}

.user-index-ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.editicon{
  width: 17px;
  margin-top: 18px;
  margin-left: 9px;
}
.render-tab {
  padding-bottom: 36px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 0.5px;
}
.user-importance > p {
  margin-bottom: 0;
}

.explanation-textarea {
  width: 300px;
  height: 50px;
  margin-top: 26px;
}

.answer-button {
  color: white;
  background-color: red;
  font-size: 12pt;
  margin-top: 15px;
}

.match {
  color: green;
}

.user-index-username {
  font-size: 16pt;
}

div {
  color:white;
}

.profile {
  margin:0 auto;
  overflow: scroll;
}


.essay-block{
  padding-left: 3%;
}
.title-container{
  margin-top:5px;
}
.user-img {
  height: 180px;
  width: 180px;
  float: left;
  border-style:hidden;
  border-radius: 50%;
  object-fit: cover;
  position:relative;
  margin-left:8%;
  margin-top:3%;
  top:0;
  left:0;
}

.dropzone{
  border: dashed;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 200px;
  width: 400px;

}

.dropzone:hover{
  cursor:pointer;
  opacity:0.5;
}

.user-profile-div{
  display:flex;
}

.profile-pic-button{
  position: absolute;
  top: 50%;
  left: 11%;
  opacity:0;
  background-color:black;
  font-size: medium;

}

.profile-pic-button:hover{
  opacity:0.8;
}

.user-profile {
  background-color: black;
    color: white;
    display: block;
    height: 237px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    flex-direction: row;
    display: flex;
    position:relative;
    top:0;
    left:0;
}
