


body {
  background-color: black;
  background-image: url('https://static.pexels.com/photos/442540/pexels-photo-442540.jpeg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
 }


ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height:inherit;
}

a {
  text-decoration: none;
  padding-top: 10px;

}

a:visited {
  text-decoration: none;
  color: white;
}

button,
input[type="submit"], input[type='text'], input[type='password'] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
  background-color: white;
  color: black;
}

input[type='text'], input[type='password'] {
  width: 300px;
}


#root {
  height: 100%;
  width: 100%;
  display: block;
}





p {
  align-self: center;
  display: block;
  padding-left: 30px;
  font-size: 14pt;
  color: white;
}
