


body {
  background-color: black;
  background-image: url('https://static.pexels.com/photos/442540/pexels-photo-442540.jpeg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
 }


ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

button,
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
  background-color: grey;
  color: black;
}

#root {
  height: 100%;
  width: 100%;
  display: block;
}

.user-img-container {
  height: 250px;
  width: 200px;

}
.user-imgs {
  height: 100%;
  width: 100%;
  border-style:hidden;
  border-radius: 50px;
}

.user-display {
  display:inline-block;
}

.user-index-item {
  display: inline-block;
  margin: 0 auto;
  padding-right: 20px;
}

.user-index-item * {
  align-items: center;
}

.user-index {
  align-items:center;
}

.user-index > * {
  padding-right: 30px;
}

p {
  align-self: center;
  display: block;
  padding-left: 30px;
  font-size: 14pt;
  color: white;
}

.user-profile {
  background-color: black;
  opacity: 0.8;
  color: white;
  display: block;
  height: 400px;
  width: 90%;
  margin: 0 auto;
}

.user-profile > ul {
  display: block;
  width: 40%;
  height: 100%;
  margin: 0 auto;
  opacity: 1.0;
}

.user-profile > ul * {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
