
html {
  background-color: white;
  background-image: url(background-image.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
 }


ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

button,
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
  background-color: grey;
  color: black;
}

#root {
  height: 100%;
  width: 100%;
  display: block;
  float: right;
}
